<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/genres/staffage-in-landscape' | absolute_url }}">Staffage in landscape</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/genres/religious' | absolute_url }}">Religious</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/genres/allegory' | absolute_url }}">Allegory</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/genres/flower-still-life-and-nature-study' | absolute_url }}">Flower Still Life/Nature Study</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/genres/garland' | absolute_url }}">Garland</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/janbrueghel/browse-genres' | absolute_url }}">More...</a></li>