<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/genres/urban-common-and-peasant-life' | absolute_url }}">Urban, Common and Peasant Life</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/genres/religious' | absolute_url }}">Religious</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/genres/allegory' | absolute_url }}">Allegory</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/genres/proverb' | absolute_url }}">Proverb</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/genres/landscape' | absolute_url }}">Landscape</a></li>
<li class="browsing-menu-list-item"><a HREF="{{ '/pieterbruegel/browse-genres' | absolute_url }}">More...</a></li>