<footer id="brueghel-footer" class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="footer-links"><a href="{{ '/about-the-site' | absolute_url }}">About the Site</a></p>
        <p class="footer-links"><a href="{{ '/credits' | absolute_url }}">Credits</a></p>
        <p class="footer-links"><a href="#">Contact</a></p>
        <p class="footer-copyright">&copy; Elizabeth Honig 2021</p>
      </div>
      <div class="col">
        <p class="footer-links"><a href="https://arthistory.umd.edu/">University of Maryland Art History</a></p>
        <p class="footer-links">
            Site built with <a href="https://github.com/minicomp/wax">Minicomp/Wax</a>
        </p>
      </div>
    </div>
  </div>
</footer>