<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
 
	 
	  {% if key == 'tags' %}
	  <dt>{{ item.label }}</dt>
	  <dd>
	  {% for tag in page.tags %}
	  <a href="/tags/{{ tag | slugify: 'pretty' }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
	  {% endfor %}
	  </dd>
	  {% endif %}
	  
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
    {% endif %}
  {% endfor %}
  
  {% if page.location_country And page.location_country != "" And page.location_country != nil %}
  <dt>Location</dt>
  <dd>{{page.location_collection}}, <a href="/cities/{{ page.location_city|slugify:'pretty}}">{{page.location_city}}</a>, <a href="/countries/{{ page.location_country|slugify:'pretty}}">{{page.location_country}}</a></dd>
  {% endif %}
  
  {% if page.collaborators And page.collaborators != "" And page.collaborators != nil %}
  {% assign artcollaborators = page.collaborators %}
  <dt>Collaborators</dt>
  {% for artcollaborator in artcollaborators %}
  {% for person in site.people %}
  {% if artcollaborator contains person.tag %}
<dd><a href="/people/{{ person.tag|slugify:'pretty}}">{{person.title}}</a>{% unless forloop.last %}, {% endunless %}</dd>
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% endif %}
  
  {% if page.collaborator_notes And page.collaborator_notes != "" And page.collaborator_notes != nil %}
  <dt>Collaborator notes</dt>
    <dd>{{page.collaborator_notes}}</dd>
  {% endif %}
  
  {% if page.collectors_patrons And page.collectors_patrons != "" And page.collectors_patrons != nil %}
  <dt>Collectors/patrons</dt>
  <dd><a href="/people/{{ page.collectors_patrons|slugify:'pretty}}">{{page.collectors_patrons}}</a></dd>
  {% endif %}
  
  {% if page.genre And page.genre != "" And page.genre != nil %}
	<dt>Genre</dt>
	<dd><a href="/genres/{{ page.genre | slugify: 'pretty' }}/">{{page.genre}}</a></dd>
{% endif %}

  {% if page.tags And page.tags != "" And page.tags != nil %}


<dt>Tags</dt>
<dd>
{% for tag in page.tags %}
<a href="/tags/{{ tag | slugify: 'pretty' }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
</dd>
{% endif %}