---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Object type'
    value: page.object_type
  - label: 'Genre'
    value: page.genre
  - label: 'Date'
    value: page.realdate
  - label: 'Height'
    value: page.height_cm
  - label: 'Width (cm)'
    value: page.width_cm
  - label: 'Diameter (cm)'
    value: page.diameter_cm
  - label: 'Plate dimensions'
    value: page.plate_dimensions
  - label: 'Support'
    value: page.drawing_medium
  - label: 'Drawing medium'
    value: page.width_cm
  - label: 'Signature'
    value: page.signature
  - label: 'Signature location'
    value: page.signature_location
  - label: 'Support marks'
    value: page.support_marks
  - label: 'Further inscription'
    value: page.further_inscription
  - label: 'Collaborators'
    value: page.collaborators
  - label: 'Collaborator notes'
    value: page.collaborator_notes
  - label: 'Collectors/patrons'
    value: page.collectors_patrons
  - label: 'Print type'
    value: page.print_type
  - label: 'Print notes'
    value: page.print_notes
  - label: 'Printmaker'
    value: page.printmaker
  - label: 'Publisher'
    value: page.publisher
  - label: 'States'
    value: page.states
  - label: 'Our attribution'
    value: page.our_attribution
  - label: 'Other attribution authorities'
    value: page.other_attribution_authorities
  - label: 'Ertz 1979'
    value: page.ertz_1979
  - label: 'Ertz 2008'
    value: page.ertz_2008
  - label: 'Bailey/Walker'
    value: page.bailey_walker
  - label: 'Hollstein Number'
    value: page.hollstein_no
  - label: 'Collection type'
    value: page.collection_type
  - label: 'Location (collection)'
    value: page.location_collection
  - label: 'Location'
    value: page.location
  - label: 'Location or most recent sale notes'
    value: page.location_or_most_recent_sale_notes
  - label: 'Bibliography'
    value: page.bibliography
  - label: 'Exhibition history'
    value: page.exhibition_history
  - label: 'Copies and variants'
    value: page.exhibition_history
  - label: 'Curatorial files'
    value: page.curatorial_files
  - label: 'Related works'
    value: page.related_html
---