---
layout: default
---
  <script type="module" src="/assets/palladio/palladio-map-webcomponent.js"></script>
  <script type="module" src="/assets/palladio/palladio-graph-webcomponent.js"></script>
  
  
{% unless page.show_title == false %}
  <h2 class='page-title'>{{ page.title }}</h2>
{% endunless %}


  <palladio-map-component project-url="/assets/palladio/palladio-save-files/10202.palladio.1.2.9.json" height="800px"></palladio-map-component>
  <palladio-graph-component project-url="/assets/palladio/Cushman_500.palladio.1.2.9.json" height="600px"></palladio-graph-component>



{{ content }}
