---
layout: default
---
<div class="post">
<h1>{{ page.title }}</h1>
<img src="{{page.image}}" style="width:400px; float:right;" />
{{page.content}}

<ul>
{% for p in site.brueghel %}
   {% if p.collaborators contains page.tag %}
   <a href="{{ p.url | absolute_url }}"><img src="/img/derivatives/simple/{{p.pid}}/thumbnail.jpg" /></a>
     <!--<li>[{{ p.title }}]({{ p.url | absolute_url }})</li>-->
   {% endif %}
   
   {% if p.collectors_patrons contains page.tag %}
   <a href="{{ p.url | absolute_url }}"><img src="/img/derivatives/simple/{{p.pid}}/thumbnail.jpg" /></a>
     <!--<li>[{{ p.title }}]({{ p.url | absolute_url }})</li>-->
   {% endif %}
   
{% endfor %}
</ul>




</div>
<hr>