---
layout: generic_collection_item
image_viewer: 'simple'
pagination: false
meta:
  - label: 'Object type'
    value: page.object_type
  - label: 'Genre'
    value: page.genre
  - label: 'Date'
    value: page.realdate
  - label: 'Diameter'
    value: page.diameter_cm
  - label: 'Dimensions'
    value: page.dimensions
  - label: 'Plate dimensions'
    value: page.plate_dimensions
  - label: 'Support'
    value: page.support
  - label: 'Medium'
    value: page.medium
  - label: 'Signature'
    value: page.signature
  - label: 'Signature location'
    value: page.signature_location
  - label: 'Support marks'
    value: page.support_marks
  - label: 'Further inscription'
    value: page.further_inscription
  - label: 'Collaborators'
    value: page.collaborators
  - label: 'Collaborator notes'
    value: page.collaborator_notes
  - label: 'Collectors/patrons'
    value: page.collectors_patrons
  - label: 'Print type'
    value: page.print_type
  - label: 'Print notes'
    value: page.print_notes
  - label: 'Printmaker'
    value: page.printmaker
  - label: 'Publisher'
    value: page.publisher
  - label: 'States'
    value: page.states
  - label: 'Attribution authorities'
    value: page.other_attribution_authorities
  - label: 'Location'
    value: page.location_info
  - label: 'Collection'
    value: page.location_collection
  - label: 'Accession numbers'
    value: page.accession_nos_and_notes
  - label: 'Location'
    value: page.private_collection_info
  - label: 'Most recent sale'
    value: page.most_recent_sale_notes
  - label: 'General Notes'
    value: page.general_notes
  - label: 'Bibliography'
    value: page.bibliography
  - label: 'Exhibition history'
    value: page.exhibition_history
  - label: 'Copies and variants'
    value: page.copies_and_variants
  - label: 'Curatorial files'
    value: page.curatorial_files
  - label: 'Provenance'
    value: page.provenance
  - label: 'Related Works'
    value: page.related_works
  - label: 'Notes'
    value: page.related_works_notes
  - label: 'Iconclass Code'
    value: page.iconclass_code
  - label: 'Series'
    value: page.series
  - label: 'Tags'
    value: page.worktags
  - label: 'External resources'
    value: page.external_resources_title
  - label: 'Discussion'
    value: page.discussion
---